<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>frames</key>
    <dict>
      <key>tileGrass_roadTransitionW_dirt.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,0},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>tileSand_roadCornerLL.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,0},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>tileGrass_roadCornerLR.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,0},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>tileGrass_transitionN.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,0},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>tileSand_roadSplitW.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,0},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>tileGrass_roadCrossingRound.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,0},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>tileGrass_roadTransitionW.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{780,0},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>tileGrass_transitionS.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,130},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>tileGrass_roadTransitionN_dirt.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,130},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>tileSand_roadEast.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,130},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>tileGrass_roadTransitionE.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,130},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>tileSand_roadCrossing.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,130},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>tileSand_roadCornerUL.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,130},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>tileGrass_transitionE.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{780,130},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>tileSand_roadCornerUR.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,260},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>treeBrown_large.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,260},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>tileGrass_roadEast.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,260},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>tileGrass_roadCornerUL.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,260},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>tileGrass2.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,260},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>tileSand_roadNorth.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,260},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>tileGrass_roadCornerUR.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{780,260},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>tileGrass_roadSplitW.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,390},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>tileSand2.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,390},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>tileGrass_roadTransitionS.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,390},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>tileSand_roadCornerLR.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,390},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>tileGrass_roadSplitS.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,390},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>tileSand_roadCrossingRound.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,390},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>tileGrass_roadCornerLL.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{780,390},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>tileSand_roadSplitN.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,520},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>tileGrass_roadNorth.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,520},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>tileGrass_roadSplitE.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,520},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>tileGrass_roadTransitionN.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,520},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>tileGrass_roadTransitionE_dirt.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,520},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>treeGreen_large.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,520},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>tileGrass1.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{780,520},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>tileGrass_roadTransitionS_dirt.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{0,650},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>tileGrass_roadSplitN.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{130,650},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>tileSand_roadSplitE.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{260,650},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>tileGrass_transitionW.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{390,650},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>tileGrass_roadCrossing.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{520,650},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>tileSand1.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{650,650},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
      <key>tileSand_roadSplitS.png.png</key>
      <dict>
        <key>frame</key>
        <string>{{780,650},{128,128}}</string>
        <key>offset</key>
        <string>{0,0}</string>
        <key>rotated</key>
        <false/>
        <key>sourceColorRect</key>
        <string>{{0,0},{128,128}}</string>
        <key>sourceSize</key>
        <string>{128,128}</string>
      </dict>
    </dict>
    <key>metadata</key>
    <dict>
      <key>format</key>
      <integer>2</integer>
      <key>realTextureFileName</key>
      <string>tiled1.png</string>
      <key>size</key>
      <string>{908,778}</string>
      <key>textureFileName</key>
      <string>tiled1.png</string>
    </dict>
  </dict>
</plist>